services:
  - type: web
    name: agromart-api
    env: node
    plan: free
    autoDeploy: true
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /api/products
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: APP_BASE_URL
        sync: false
      - key: SESSION_SECRET
        generateValue: true
